body {
	background-color:#ffffff;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	margin: 0px;
	height: 100%;
}
#goo {
	text-align: center;
	color: red;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	font-size: 50px;
	line-height: 50px;

	}
	
		