<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Group</title>
    <style>
h3{
    color:#473e3f;
    font-style: italic;
}
table, th, td {
   border-bottom: 1px solid #ddd;
}
th,td { padding: 5px
}
th {
background-color: #c0f7f6;
text-align: left;
}
tr:hover { background-color: #6ccecb;
}
#top	{
	width: 100%;
	height: 45px;
	margin: 0;
	background-color: #473e3f;
	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #473e3f;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>
<ul>
    <li><a href="home">Home</a></li>
    <li><a href="groups">Groups</a></li>
    <li><a href="studytime">StudyTime</a></li>
    <li style="float:right"><a href="logout">logout</a></li>
</ul>
<h3>Create a StudyGroup:</h3>
<form method="POST" action="/creategroup2">
    SELECT A COURSE: <br>
    <select name="cid">
      {% for n in courses %}
        {% if n is number %}
            <option value="{{n}}">
        {% else %}
            {{n}}</option>
        {% endif %}
      {% endfor %}
    </select><br><br>
    GROUP NAME:<br>
    <input type="text" name="gname"><br><br>
    LOCATION:<br>
    <input type="text" name="location"><br><br>
    MEETING TIMES:<br>
        Monday Start:
  <select name="mstart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Monday End:
  <select name="mend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br><br>
    Tuesday Start:
  <select name="tstart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Tuesday End:
  <select name="tend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br><br>
    Wednesday Start:
  <select name="wstart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Wednesday End:
  <select name="wend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br><br>
    Thursday Start:
  <select name="thstart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Thursday End:
  <select name="thend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br><br>
    Friday Start:
  <select name="fstart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Friday End:
  <select name="fend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br><br>
    Saturday Start:
  <select name="sastart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Saturday End:
  <select name="saend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br><br>
    Sunday Start:
  <select name="sustart">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
    Sunday End:
  <select name="suend">
    <option value=0>12:00am</option>
    <option value=30>12:30am</option>
    <option value=100>1:00am</option>
    <option value=130>1:30am</option>
      <option value=200>2:00am</option>
    <option value=230>2:30am</option>
    <option value=300>3:00am</option>
    <option value=330>3:30am</option>
      <option value=400>4:00am</option>
    <option value=430>4:30am</option>
    <option value=500>5:00am</option>
    <option value=530>5:30am</option>
      <option value=600>6:00am</option>
    <option value=630>6:30am</option>
    <option value=700>7:00am</option>
    <option value=730>7:30am</option>
    <option value=800>8:00am</option>
    <option value=830>8:30am</option>
    <option value=900>9:00am</option>
    <option value=930>9:30am</option>
      <option value=1000>10:00am</option>
    <option value=1030>10:30am</option>
    <option value=1100>11:00am</option>
    <option value=1130>11:30am</option>
    <option value=1200>12:00pm</option>
    <option value=1230>12:30pm</option>
    <option value=1300>1:00pm</option>
    <option value=1330>1:30pm</option>
      <option value=1400>2:00pm</option>
    <option value=1430>2:30pm</option>
    <option value=1500>3:00pm</option>
    <option value=1530>3:30pm</option>
      <option value=1600>4:00pm</option>
    <option value=1630>4:30pm</option>
    <option value=1700>5:00pm</option>
    <option value=1730>5:30pm</option>
      <option value=1800>6:00pm</option>
    <option value=1830>6:30pm</option>
    <option value=1900>7:00pm</option>
    <option value=1930>7:30pm</option>
    <option value=2000>8:00pm</option>
    <option value=2030>8:30pm</option>
    <option value=2100>9:00pm</option>
    <option value=2130>9:30pm</option>
      <option value=2200>10:00pm</option>
    <option value=2230>10:30pm</option>
    <option value=2300>11:00pm</option>
    <option value=2330>11:30pm</option>
  </select>
  <br>

  <br><br>
      <input type="submit" value="Create">
<div style="color:red">{{note}}</div>

</form>
</body>
</html>